html,body{
    margin: 0px;
    background-color: rgb(26, 128, 0);
    color: rgb(255, 255, 255);
}

.titulo {
    text-decoration-style: solid;
    text-shadow: 5x 5px 5px whitesmoke;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 120px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
    height: 200px;
}